<section class="container mx-auto mb-16">
  <div class="mb-5">
    <p class="text-xl">
      Get ready for a new change, as we propel Malaysia ahead with
      <span class="text-xl text-primary font-bold">
        U Mobile's Next Gen 5G network that is enterprise-grade.
      </span>
    </p>
  </div>
  <div class="grid grid-cols-3 gap-3">
    <div class="h-[466px] rounded-lg grid px-5 py-12 relative">
      <div class="absolute inset-0">
        <img src="/src/assets/imgs/01-For Malaysians 1.png" alt="" />
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent to-black"
        ></div>
      </div>
      <div class="self-end z-0">
        <p class="text-lg uppercase font-semibold">For Malaysians</p>
        <p>A new era with the Next Gen 5G network</p>
      </div>
    </div>
    <div class="h-[466px] rounded-lg grid px-5 py-12 relative">
      <div class="absolute inset-0">
        <img src="/src/assets/imgs/01-For Malaysians 1.png" alt="" />
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent to-black"
        ></div>
      </div>
      <div class="self-end z-0">
        <p class="text-lg uppercase font-semibold">For Malaysians</p>
        <p>A new era with the Next Gen 5G network</p>
      </div>
    </div>
    <div class="h-[466px] rounded-lg grid px-5 py-12 relative">
      <div class="absolute inset-0">
        <img src="/src/assets/imgs/01-For Malaysians 1.png" alt="" />
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent to-black"
        ></div>
      </div>
      <div class="self-end z-0">
        <p class="text-lg uppercase font-semibold">For Malaysians</p>
        <p>A new era with the Next Gen 5G network</p>
      </div>
    </div>
  </div>
</section>