<section class="relative">
  {{! <img
    class="absolute -z-10 left-0 w-full -translate-y-3/7"
    src="/src/assets/imgs/globe.png"
    alt=""
  /> }}
  {{! <div class="container mx-auto">
    <p class="text-xl">
      Witness the expansion of
      <span class="text-primary font-bold">Malysia's 5G future</span>
    </p>
  </div> }}
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="w-10 h-10 bg-primary" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>