<section class="banner relative">
  <img
    class="w-full"
    src="/src/assets/imgs/2ND-5G-masthead_desktop_EN.png"
    alt=""
  />
  <div
    class="absolute bottom-0 left-0 w-full h-[353px] pointer-events-none bg-gradient-to-b from-transparent to-black"
  ></div>
</section>